{% extends "mobile_base.html" %}
{% load staticfiles %}
{% block css %}
    <link href="{% static "css/validation.css" %}?_=3" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{% if reply == "success" %}
    <div id="successHolder">
        <img src="{% static "img/success.png" %}" />
        <p>退票成功！</p>
    </div>
{% else %}
    {% if reply == "out of date" %}
    <div id="successHolder">
        <img src="{% static "img/error.png" %}" width="64" height="64"/>
        <p>出错啦！已过了退票期限！</p>
    </div>
    {% else %}
        <div id="successHolder">
            <img src="{% static "img/error.png" %}" width="64" height="64"/>
            <p>出错啦！您要退的票不存在！</p>
        </div>
    {% endif %}
{% endif %}
{% endblock %}