{% extends "mobile_base.html" %}

{% load staticfiles %}

{% block title %}
抢票设置 - 清华紫荆之声
{% endblock %}

{% block css %}
        <link href="{% static "css/setting.css" %}?_=3" rel="stylesheet" type="text/css" />
        <link href="{% static "css/seats.css" %}?_=3" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js %}
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "lib/jq/form/jquery.form.js" %}"></script>
    <script src="{% static "js/setting.js" %}"></script>
    <script src="{% static "js/activity_list.js" %}"></script>
    <script>
    var abandon_seats = '{{ abandon_seats }}';
    var selected_path = "{% static "img/selected_seat.jpg" %}";
    var unselected_path = "{% static "img/unselected_seat.jpg" %}";
    var hassold_path = "{% static "img/occupied_seat.jpg" %}";

    function get_abandon_seats(){
        var seat_list = abandon_seats.split(';');
        var r = []
        for(var i = 0; i < seat_list.length; i++){
            var s = seat_list[i].split(',');
            var temp = [parseInt(s[0]), parseInt(s[1])];
            r.push(temp);
        }
        return r;
    }

    function in_seat_set(seat, seat_set){
        for (var i = 0; i < seat_set.length; i++){
            if (seat.toString() === seat_set[i].toString()) return true;
        }
        return false;
    }

    function draw_seats(seat_matrix){
        $("#seat_plan").children().remove();
        $('#span_unselected').children().remove();
        $('#span_selected').children().remove();
        totalRow = seat_matrix.length;
        totalColumn = seat_matrix[0].length;

        var seat_set = get_abandon_seats();
        for (var i = 0; i < totalRow; i++)
        {
            var $temp = $("<tr>").attr('id', 'row'+i);
            for (var j = 0; j < totalColumn; j++)
            {
                if (seat_matrix[i][j] == 1){
                   if (in_seat_set([i,j], seat_set)){
                       $temp.append($("<td>").attr('id', 's' + i + '_' + j).attr('class', 'unselected').append($('<img>').attr('src', unselected_path)));
                   }
                   else{
                       $temp.append($("<td>").attr('id', 's' + i + '_' + j).attr('class', 'selected').append($('<img>').attr('src', selected_path)));
                   }
                }
                else if (seat_matrix[i][j] == 2){
                    $temp.append($("<td>").attr('id', 's' + i + '_' + j).attr('class', 'hasSold').append($('<img>').attr('src', hassold_path)));
                }
                else {
                $temp.append($("<td>").attr('id', 's' + i + '_' + j));
                }

            }
            $("#seat_plan").append($temp);
        }
        $("td").addClass('seat');
        //var selected = [];
        $("td").click(function(){
            if ($(this).hasClass('unselected')){
                $(this).removeClass('unselected');
                $(this).addClass('selected');
                $(this).children().attr('src', selected_path);
                //selected.push($(this).attr('id'))
            }
            else if ($(this).hasClass('selected')){
                $(this).removeClass('selected');
                $(this).addClass('unselected');
                $(this).children().attr('src', unselected_path);
                //var n = selected.indexOf($(this).attr('id'));
                //selected.splice(n,1);
            }
        })
        var w = window.innerWidth;
        var l = Math.min(30,(w-50) / totalColumn);
        $('.seat').css('width', l).css('height', l);
        $('.seat img').css('width', l).css('height', l);
        $('#span_unselected').append($('<img>').attr('src', '/static1/img/unselected_seat_titled.png').css('width', l).css('height', l).css('position','relative').css('bottom', '-8px'));
        $('#span_selected').append($('<img>').attr('src', '/static1/img/selected_seat_titled.png').css('width', l).css('height', l).css('position','relative').css('bottom', '-8px'));
    }


    function reverseChoices(){
        for (var i = 0; i < totalRow; i++){
            for (var j = 0; j < totalColumn; j++){
                var temp = $("#"+ 's' + i + '_' + j);
                if(temp.hasClass("selected")) {
                    temp.removeClass("selected");
                    temp.addClass("unselected");
                    temp.children().attr('src', unselected_path);
                }else if(temp.hasClass("unselected")){
                    temp.removeClass("unselected");
                    temp.addClass("selected");
                    temp.children().attr('src', selected_path);
                }
            }
        }
    }

    function getSelected(){
        var unselected = '';
        for (var i = 0; i < totalRow; i++){
            for (var j = 0; j < totalColumn; j++){
                var temp = $("#"+ 's' + i + '_' + j);
                if(temp.hasClass("unselected")) {
                    unselected = unselected + i + ',' + j + ";";
                }
            }
        }
        if (unselected.length > 0){
            unselected = unselected.substring(0, unselected.length-1)
        }
        return unselected;
    }

    </script>
    <script type="text/javascript">
        /*function getSeats(district_id){
            console.log(district_id);
        }*/


            window.onload = function() {
                $('#abandon_seats').attr('style', 'display:none')
                element = document.getElementById('id_book_activity')
                {% for activity in activity_list %}
                    child = document.createElement('option')
                    child.setAttribute('value','{{ activity.id }}')
                    child.innerHTML = '{{ activity.name }}'
                    element.appendChild(child)
                {% endfor %}
                element.onchange = function() {
                    obj_district = document.getElementById('id_book_district')
                    while (obj_district.firstElementChild != undefined) {
                        obj_district.removeChild(obj_district.firstElementChild)
                    }
                    {% for activity in activity_list %}

                    if (this.value == '{{ activity.id }}') {
                        if('{{activity.place}}' == "新清华学堂"){
                            console.log("id:"+"{{activity.id}}");
                            var column = 0;
                            var row = 0;
                            var n = 1;
                            {% for seat in seat_list%}
                                n++;
                                if('{{seat.district.activity.id}}' == '{{activity.id}}') {
                                    if({{seat.row}} > row)  row = {{seat.row}};
                                    if({{seat.column}} > column)  column = {{seat.column}};
                                    //seats[{{seat.row}}][{{seat.column}}] = {{seat.is_sold}};
                                }
                            {% endfor %}
                            console.log(n+"seats in database.");
                            if(row != 0) {
                                row++;
                                column++;
                                //console.log(row+"排"+column+"列");
                                var seat_matrix = new Array(row);
                                for(var i = 0; i < row; i++){
                                    seat_matrix[i] = new Array(column);
                                }
                                //console.log(seat_matrix);
                                {% for seat in seat_list%}
                                if('{{seat.district.activity.id}}' == '{{activity.id}}') {
                                    if('{{seat.is_sold}}' === 'False')
                                        seat_matrix[{{seat.row}}][{{seat.column}}] = 1;
                                    else
                                        seat_matrix[{{seat.row}}][{{seat.column}}] = 2;
                                }
                                {% endfor %}
                                draw_seats(seat_matrix);
                            }else{//row==0
                                $("#seat_plan").children().remove();
                            }


                            //console.log(seat_matrix);

                        }

                        {% for district in district_list %}
                            {% if district.activity.id == activity.id %}
                                child = document.createElement('option')
                                child.setAttribute('value','{{ district.id }}')
                                child.innerHTML = '{{ district.name }}'
                                obj_district.appendChild(child)

                            {% endif %}
                        {% endfor %}

                        document.getElementById("activity_place").innerHTML = '{{activity.place}}';
                        document.getElementById("activity_time").innerHTML = getSmartTimeRange(
                                new Date('{{ activity.start_time|date:"r" }}'),
                                new Date('{{ activity.end_time|date:"r" }}'));
                        ele = document.getElementById("抢票区域");
                        if('{{activity.place}}' == "综体"){
                            ele.setAttribute("style","display: block");
                        }else{
                            ele.setAttribute("style","display: none");
                        }
                        ele = document.getElementById("seat_plan");
                        ele2 = document.getElementById("选择座位");
                        if('{{activity.place}}' == "新清华学堂"){
                            ele.setAttribute("style","display: table;margin: auto;");
                            ele2.setAttribute("style","display: block;");

                        }
                        else{
                            ele.setAttribute("style","display: none");
                            ele2.setAttribute("style","display: none");
                        }

                    }
                    {% endfor %}
                }
                element.onchange()
                ele = document.getElementById("抢票区域");
                ele.setAttribute("style","display: none");
                ele = document.getElementById("选择座位");
                ele.setAttribute("style","display: none");
                ele = document.getElementById("seat_plan");
                ele.setAttribute("style","display: none");
        {% if user_activity %}
        var user_activity = {{ activity.id }}
        $('#id_book_activity').val(user_activity);
        $('#id_book_activity').change();
        {% endif %}
        {%if user_district %}
        var user_district = {{ district.id }}
        $('#id_book_district').val(user_district);
        $('#id_book_district').change();
        {% endif %}
        {% if multi %}
            $('#id_need_multi_ticket').attr('checked', 'checked');
        {% endif %}

            }
        $('#submitBtn').mousedown(function(){
            $('#id_abandon_seats').val(getSelected());
        })

    </script>
{% endblock %}

{% block theme %}
    抢票设置
{% endblock %}

{% block content %}
  <div style="text-align: center" id="setting">
    <table id="setting_form">
        <form method="post" id="setting_context">
            {% csrf_token %}
            {% for filed in form %}
            <div id="{{filed.label}}">
                {{ filed.label }} : {{ filed }}
                {{ filed.errors }}
                <br>
            </div>
            {% endfor %}

            <div id="选择座位">选择座位范围：
                <button type="button" onclick="reverseChoices()">反选</button>
                图例：<span class="seat unselected" id="span_unselected"></span>  <span class="seat selected" id="span_selected"></span>
                <div>票价：40元</div>
                <div>舞台</div>

            </div>
                <table id="seat_plan" style="margin:auto;">
                </table>
            【活动信息简介】
            <div>活动地点：<span id="activity_place"></span></div>
            <div>活动时间：<span id="activity_time"></span></div>
            <p>
                <input type="text" style="display: none" id="input-openid" name="openid" value="{{ openid }}"/>
                <!--<input type="submit" value="提交">-->
                <button onclick="submitSetting();" id="submitBtn" type="button">设置</button>
            </p>
        </form>
    </table>
  </div>

    <div id="successHolder" style="text-align:center; display: none">
        <img src="{% static "img/success.png" %}" />
        <p>设置成功！</p>
        <p>请在规定时间内进行抢票！</p>
    </div>

{% endblock %}